.titleName {
    background-color: #FF8281;
    padding: 25px;
    margin: 25px;
    text-align: center;
    color:darkslateblue;
    font-size: large;
}

.para {
    color: black;
    font-size: 20px;
}

.menuList {
    background-color: #85aff2;
    padding: 6px;
    margin: 25px;
    text-align: left;
    color: black;
}