.titleName {
    background-color: #FF8281;
    padding: 25px;
    margin: 25px;
    text-align: center;
    color:darkslateblue;
    font-size: large;
    width: 1210px;
}

.para {
    color: black;
    font-size: 20px;
}

.menuList {
    background-color: #85aff2;
    padding: 6px;
    margin: 25px;
    text-align: left;
    color: black;
    width: 1250px;
    height: 300px;
}

span {
    font-style: italic;
}

h2 {
    display: inline;
    position: relative;
    margin: 80px;
}

ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 73px;
    margin-left: 15px;
}

.special {
    text-decoration: underline;
}

.footer {
    background-color:aquamarine;
    padding: 6px;
    margin: 25px;
    text-align: center;
    color: black;
    width: 1250px;
    height: 30px;
}

footer {
    display: inline;
    margin: 15px;
}